p= @streaming.title
p= @streaming.description
p= image_tag @streaming.image_url
p= @streaming.date
p= @streaming.status
p= @streaming.user.name
p= @streaming.url
= link_to 'aaa', '#', class: 'start-stop'

= link_to 'Ir para listagem', streamings_path
