.streaming-list
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap

.search-query-field
  width: 49%
  margin-right: 15px
  padding-left: 5px

.filter
  margin-right: 10px

.q_daterange
  width: 20%

.query-field, .q_daterange
  float: left
  height: 40px

.query-field
  background-color: #FFF 

.search-form
  position: relative
  float: left
  width: 100%

.search-submit
  position: absolute
  left: 45%
  top: 0
  background-color: transparent

.add-streaming
  float: right
  margin-bottom: 30px
  color: #177bbb
  text-decoration: none
  border: 1px solid #177bbb

  &:hover
    color: #f2f4f8
    background-color: #177bbb
